<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/main.css" />
    <script type="text/javascript" src="js/contenedorComentarios.js" defer="defer"></script>
    <title>Klan-Destinos</title>
  </head>
  <body class="grid-container">
    <header class="header">
      <h1>Klan-Destinos</h1>
      {{#if fotoPerfil}}
        <a href="perfil"><img src="{{fotoPerfil}}" alt="" /></a>
      {{/if}}
    </header>
    <nav class="navBar">
      <ul>
        <li><a href="/">Home</a></li>
        {{#unless datos}}
          <li> <a href="/registro"> Registrarse</a></li>
        {{/unless}}
        <li> <a href="/eventosProximos"> Explorar</a></li>
        {{#if datos}}
          {{! <li><a href="/pasarElRato">Pasar el rato</a></li> }}
          <li> <a href="/tusEventos"> Tus Eventos</a></li>
          <li> <a href="/cerrarSesion"> Cerrar Sesion</a></li>
        {{/if}}
      </ul>
    </nav>
    <main class="main">
      {{{body}}}
    </main>
    <div class="sideBar"></div>
    <footer class="footer">Desarrollado por: ASMC.corp</footer>
  </body>
</html>