<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/main.css" />
    <title>Klan-Destinos</title>
  </head>
  <body class="grid-container">

    <header class="header"></header>
    <nav class="navBar"></nav>
    <main class="main">{{{body}}}</main>
    <div class="sideBar"></div>
    <footer class="footer"></footer>

  </body>
</html>