<div class="pasarElRato" name="pasarElRato" id="pasarElRato">
  <img src="" alt="" />
  <p>salir a: </p>
  <p>nombre usuario</p>
  <p>ubicacion</p>
  <p>hora de publicacion</p>
  <input type="button" value="Saludar" id="btnSaludar" name="btnSaludar" />
  <div class="participantes" name="participantes" id="participantes">
    <div><img src="" alt="" class="imgPArtisipantes" /></div>
  </div>
</div>