<div class="perfil">
  <div>
    {{#if datos}}
      <h3>Perfil de Usuario</h3>
      <p>"nombre":</p>
      <input type="text" value="{{this.nombre}}" />
      <p> "apellidos":</p>
      <input type="text" value="" />
      <p> "fechaNac":</p>
      <input type="text" value="" />
      <p> "direccion":</p>
      <input type="text" value="" />
      <p> "telefono":</p>
      <input type="text" value="" />
      <p> "fotoPerfil":</p>
      <input type="text" value="" />
    {{/if}}
  </div>
</div>