<div class="newEvento">
  <form action="/crearEvento" method="post">
    <input type="text" name="txrEvento" id="txtEvento" class="txtEvento" placeholder="Nombre del evento a crear" />
    <input type="datetime-local" name="txtFechaEvento" id="txtFechaEvento" class="txtFechaEvento" placeholder="Fecha del evento" />
    <input
      type="datetime-local"
      name="txtFechaFinEvento"
      id="txtFechaFinEvento"
      class="txtFechaFinEvento"
      placeholder="Fecha fin del eveno"
    />
    <input type="text" name="txtUbicaion" id="txtUbicacion" class="txtUbicacion" placeholder="Lugar del evento" />
    <input
      type="number"
      max="100"
      min="1"
      name="txtLimiteAsistentes"
      id="txtLimiteAsistentes"
      class="txtLimiteAsistentes"
      placeholder="max Asistentes"
    />
    <input
      type="text"
      name="txtDescripcion"
      id="txtDescripcion"
      class="txtDescripcion"
      placeholder="Descripcion del Evento (lugar, forma de llegar, requisitos, discriminacion de tipos depersonas que pueden asistir etc.)"
    />
    <input type="file" name="imgEvento" id="imgEvento" class="imgEvento" placeholder="Imagen para es evento!" />
  </form>
  {{#if mensaje}}
    <div><p>{{mensaje}}</p></div>
  {{/if}}
</div>