<form action="/registro" method="post" class="formLoguin">
  <div class="txtUser"><input type="text" placeholder="Usuario" name="txtUser" id="txtUser" /></div>
  <div class="txtPassword"><input type="password" placeholder="Contraseña" name="txtPassword" id="txtPassword" /></div>
  <div class="txtRePassword"><input type="password" placeholder="Confirmar Contraseña" name="txtRePassword" id="txtRePassword" /></div>
  <div class="inputBtnLoguin"><button type="submit" name="btnLogin" id="btnLoguin">Loguin</button></div>
</form>